<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/7b50cc294a705c6968947e1786ae546a?family=Komu+A" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/hover.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <title>Bluugo Assignment</title>
</head>
<body>
    <main>
        {% block content %}
            
        {% endblock %}
    </main>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>